@font-face {
    font-family: pixelOne;
    src: url("../font/VaporPixel-Reverse.otf");

}
@font-face {
    font-family: pixelTwo;
    src: url("../font/VaporPixel-Origin.otf");
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #111116;
}
h2 {
    color: #4ea93d;
    font-family: 'pixelTwo';
    
}