@font-face {
    font-family: pixelOne;
    src: url("../font/VaporPixel-Reverse.otf");

}
@font-face {
    font-family: pixelTwo;
    src: url("../font/VaporPixel-Origin.otf");
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #111116;
}
h1 {
    font-family: 'pixelOne';
    color: #ff2be1;
    font-size: 150px;
}
h2 {
    color: #4ea93d;
    font-family: 'pixelTwo';
    
}
span {
    font-size: 50px;
    color:#ff2be1;
}