@font-face {
    font-family: pixelOne;
    src: url("../font/VaporPixel-Reverse.otf");

}
@font-face {
    font-family: pixelTwo;
    src: url("../font/VaporPixel-Origin.otf");
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #111116;
}
h1 {
    font-family: 'pixelOne';
    color: #ff2be1;
    font-size: 150px;
    margin-right: 200px;
}
h2 {
    color: #4ea93d;
    font-family: 'pixelTwo';
    margin-top: auto;
    
}
#oneUp {
    font-size: 50px;
    color:#ff2be1;
    display: inline-flex;   
}
a {
    text-decoration: none;
    color: #ff2be1;
}
.roughWaters {
    color: #4ea93d;
    font-family: 'pixelTwo';

}
.content {
    display: flex;
    justify-content: center;
}

@keyframes yuppers {
    from {
     transform: scale(0,0);
 }
    
    to {
     transform: scale(2,2);
 }
 }
#Yup {
     animation-name: yuppers;
     animation-duration: 1s;
     animation-iteration-count: 1;   
 }

 @keyframes jump {
    from {
        transform: translateY(-45px);
    }
    to {
        transform: translateY(0);
    }
 }

#oneUp {
    animation-name: jump;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    
}


