@font-face {
    font-family: pixelOne;
    src: url("../font/VaporPixel-Reverse.otf");

}
@font-face {
    font-family: pixelTwo;
    src: url("../font/VaporPixel-Origin.otf");
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #111116;
}
h2 {
    color: #4ea93d;
    font-family: 'pixelTwo';
    
}
a {
    text-decoration: none;
    color: #ff2be1;
    font-family: 'pixelTwo';
}
/* typing animation from https://codepen.io/denic/pen/GRoOxbM */
#lineOne {
    width: 39ch;
    animation: typing 2s steps(34), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'pixelTwo';
    font-size: 2em;

  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  #lineTwo {
    width: 39ch;
    animation: typing 2s steps(34) 3s, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'pixelTwo';
    font-size: 2em;
   

  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  #lineThree {
    width: 39ch;
    animation: typing 2s steps(34) 6s, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'pixelTwo';
    font-size: 2em;
   

  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  #lineFour {
    width: 39ch;
    animation: typing 2s steps(34) 9s, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'pixelTwo';
    font-size: 2em;
   

  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  #lineFive {
    width: 39ch;
    animation: typing 2s steps(34) 12s, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'pixelTwo';
    font-size: 2em;
   

  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }